<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Quiz App</title>
</head>
<body>
    <h1>Головна сторінка</h1>

    {% if user.is_authenticated %}
        <p>Привіт, {{ user.username }}!</p>

        <form action="{% url 'create_quiz' %}" method="get">
            <button type="submit">➕ Створити вікторину</button>
        </form>

        <br>

        <form action="{% url 'my_quizzes' %}" method="get">
            <button type="submit">📚 Мої квізи</button>
        </form>


        <br>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Вийти</button>
        </form>

    {% else %}

        <form action="{% url 'login' %}" method="get">
            <button type="submit">Увійти</button>
        </form>

    {% endif %}
</body>
</html>
